h1 {
  text-align: center;
}

#team-selector {
  display: inline-grid;
  padding: 2px 4px;
}

.team-button {
  padding: 0 8px;
  border-radius: 0;
  margin: 1px;
}

.container {
  max-width: 100%;
}

#team-selector {
  width: 100%;
  position: sticky;
  top: 2rem;
}

@media (max-width: 40rem) {
  #sidebar {
    width: 100%;
    max-width: 100%;
  }
}

.capitalize {
  text-transform: capitalize;
}

@media (max-width: 40rem) {
  #content {
    max-width: 100%;
  }
}

#content {
  max-width: 100%;
}

table {
  max-height: 100%;
  position: relative;
  border-collapse: collapse;
}

*/ thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: -10px; /* I have no clue why lol */
  border-right: 1px solid #666;
  background-color: #fff;
}

.name_header {
  position: sticky;
  left: -10px;
  z-index: 1;
}

.center {
  text-align: center;
}

td,
th {
  padding: 0.2rem 0.5rem;
  border-left: 0.2rem solid #a1a1a1;
}

.stlats-table.fk {
  font-size: 10px;
}
.stlats-table.fk td,
.stlats-table.fk th {
  font-size: 10px;
  padding: initial;
  line-height: initial;
  letter-spacing: initial;
}

footer {
  text-align: center;
}
